@import url("style.css");

.berufsschule
{
    background-color: deepskyblue;
}

.einsatz
{
    background-color: chartreuse;
}

.urlaub
{
    background-color: darkblue;
}

.schulung
{
    background-color: coral;
}

table
{
    border: 0;
    border-width: 0;
    border-style: none;
    border-spacing: none;
    text-align: center;
}
