@import url("style_flex.css");

.berufsschule
{
    background-color: deepskyblue;
}

.einsatz
{
    background-color: chartreuse;
}

.urlaub
{
    background-color: darkblue;
}

.schulung
{
    background-color: coral;
}

table
{
    text-align: center;
    border-collapse: collapse;
}
