@import url("style_flex.css");

.berufsschule
{
    background-color: #EA6472;
}

.einsatz
{
    background-color: #D4FFD3;
}

.urlaub
{
    background-color: #6DB6FF;
}

.schulung
{
    background-color: #FFB584;
}

table
{
    text-align: center;
    border-collapse: collapse;
}
