body
{
    margin: 0;
    background: #E8E8E8;
    font-family: Verdana;
}

header
{
    position: absolute;
    top: 0;
    width: 100vw;
    height: 110px;
    background: rgb(255,255,255);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(247,247,247,1) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(247,247,247,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(247,247,247,1) 100%);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.6);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.6);
}

main
{
    padding: 10px;
    width: 80vw;
    min-width: 400px;
    min-height: 200px;
    margin-top: 110px;
    margin-left: auto;
    margin-right: auto;
    background: #ffffff;
    box-shadow: 6px 0 4px -4px #ccc , -6px 0 4px -4px #ccc;
    -moz-box-shadow: 6px 0 4px -4px #ccc, -6px 0 4px -4px #ccc;
    -webkit-box-shadow: 6px 0 4px -4px #ccc, -6px 0 4px -4px #ccc;
}

.center
{
    text-align: center;
}

footer
{
    background-color: #fffff;
    height: 3vh;
    width: 80vw;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -5px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.6);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.6);
}

#logo img {
    width: 90px;
    height: 90px;
    margin-top: 10px;
}

#logo
{
    margin-left: 10vw;
    float: left;
}

#userID
{
    float: right;
    margin-right: 10vw;
    margin-top: 45px;
    text-shadow: 0 1px 0 #fff;
}
