body
{
    width: 100vw;
    height: 100vh;
    position: fixed;
    margin: 0px;
}

header
{
    width: 100vw;
    height: 20vh;
    background-color: chartreuse;
    position: relative;
}

nav
{
    width: 5vw;
    height: 70vh;
    background-color: aqua;
    float: left;
}

main
{
    width: 65vw;
    height: 70vh;
    background-color: aquamarine;
    float: left
}

aside
{
    width: 30vw;
    height: 70vh;
    background-color: cornflowerblue;
    float: left;
}

footer
{
    width: 100vw;
    height: 10vh;
    background-color: darkturquoise;
    float: left;
}

.berufsschule
{
    background-color: black;
}

table
{
    border: 0px;
    margin: 0px;
    text-align: center;
}
