
@{
    ViewBag.Title = "AusbilderGesamt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>Inhaltsbereich</p>
<div class="tableazubi">
	<table>
		<tr>
			<th style="width:16vw">KW</th>
			<th style="width:7vw">10</th>
			<th style="width:7vw">11</th>
			<th style="width:7vw">12</th>
			<th style="width:7vw">13</th>
			<th style="width:7vw">14</th>
			<th style="width:7vw">15</th>
			<th style="width:7vw">16</th>
			<th style="width:7vw">17</th>
			<th style="width:7vw">18</th>
			<th style="width:7vw">19</th>
			<th style="width:7vw">20</th>
			<th style="width:7vw">21</th>
		</tr>
		<tr>
			<td>Azubi 1</td>
			<td class="berufsschule"> </td>
			<td class="berufsschule"> </td>
			<td class="berufsschule"> </td>
			<td class="berufsschule"> </td>
			<td class="berufsschule"> </td>
			<td class="einsatz"> </td>
			<td class="einsatz"> </td>
			<td class="einsatz"> </td>
			<td class="einsatz"> </td>
			<td class="einsatz"> </td>
			<td class="einsatz"> </td>
			<td class="einsatz"> </td>
		</tr>
		<tr>
			<td>Azubi 2</td>
			<td class="berufsschule"> </td>
			<td class="berufsschule"> </td>
			<td class="berufsschule"> </td>
			<td class="berufsschule"> </td>
			<td class="berufsschule"> </td>
			<td class="einsatz"> </td>
			<td class="einsatz"> </td>
			<td class="schulung"> </td>
			<td class="schulung"> </td>
			<td class="einsatz"> </td>
			<td class="einsatz"> </td>
			<td class="einsatz"> </td>
		</tr>
		<tr>
			<td>Azubi 3</td>
			<td class="einsatz"> </td>
			<td class="einsatz"> </td>
			<td class="einsatz"> </td>
			<td class="einsatz"> </td>
			<td class="einsatz"> </td>
			<td class="einsatz"> </td>
			<td class="einsatz"> </td>
			<td class="schulung"> </td>
			<td class="schulung"> </td>
			<td class="einsatz"> </td>
			<td class="einsatz"> </td>
			<td class="einsatz"> </td>
		</tr>
		<tr>
			<td>Azubi 4</td>
			<td class="einsatz"> </td>
			<td class="urlaub"> </td>
			<td class="urlaub"> </td>
			<td class="einsatz"> </td>
			<td class="einsatz"> </td>
			<td class="einsatz"> </td>
			<td class="einsatz"> </td>
			<td class="einsatz"> </td>
			<td class="einsatz"> </td>
			<td class="einsatz"> </td>
			<td class="schulung"> </td>
			<td class="einsatz"> </td>
		</tr>
	</table>

