body
{
    margin: 0px;
    background: #E8E8E8;
    font-family: Verdana;
    font-size: 14px;
    overflow-x: hidden;
}

header
{
    position: absolute;
    top: 0;
    width: 100vw;
    min-width: 1040px;
    height: 100px;
    background: rgb(255,255,255);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(247,247,247,1) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(247,247,247,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(247,247,247,1) 100%);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.6);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.6);
}

#main
{
    padding: 10px;
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
    background: #ffffff;
    border: 1px solid #B2B2B2;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
	min-height: calc(100vh - 225px);
}

.center
{
    text-align: center;
}

footer
{
    background-color: #666;
    color: #fff;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -1px;
    border: 1px solid #555;
    border-top: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#footerContainer
{
    height: 100px;
}

#shadow
{
    width: 92vw;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#logo img {
    width: 90px;
    height: 90px;
    margin-top: 5px;
}

#logo
{
    margin-left: 4vw;
    float: left;
}

#userID
{
    float: right;
    margin-right: 4vw;
    margin-top: 40px;
    text-shadow: 0 1px 0 #fff;
}

#infoText
{
    float:left;
    padding-right: 5px;
}

nav
{
    float: left;
    margin-left: 10px;
}

nav ul
{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

nav ul, nav ul li
{
	float: left;
}

nav ul a
{
	text-decoration: none;
	color: #666;
	text-shadow: 0 1px 0 #fff;
	display: block;
	border-right: 1px solid #999;
    padding: 41px 15px 41px 15px;
}

#nav-links:first-child
{
	border-left: 1px solid #999;
}

.menuButton a:hover 
{
    color: #333;
}

.active a
{
    color: rgb(10,144,93);
}

table,tr,th,td
{
    border: 1px solid black;
    text-align: center;

}

table
{
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

.berufsschule
{
    background-color: deepskyblue;
}

.einsatz
{
    background-color: chartreuse;
}

.urlaub
{
    background-color: darkblue;
}

.schulung
{
    background-color: coral;
}

table
{
    text-align: center;
    border-collapse: collapse;
}

.Anwesend
{
    background-color: green;
    color: white;
}

.Abwesend
{
    background-color: white;
    color: black;
}

.Schulung
{
    background-color: mediumpurple;
    color: white;
}

.gerade_KW
{
    background-color: lightgrey !important;
    color: black !important;
    padding: 3px 15px;
    border: 1px solid black;
}

.ungerade_KW
{
    background-color: white !important;
    color: black !important;
    padding: 3px 15px;
    border: 1px solid black;
}

.frei
{
    background-color: white;
    color: black;
}

.einer_frei
{
    background-color: orange;
    color: black;
}

.voll
{
    background-color: red;
    color: white;
}

tr.Feiertag td
{
    color: grey;
    background-color: grey;
}

span.Feiertag
{
    color: white;
    background-color: grey;
}

td
{
    height: 20px;
    text-align: center;
    border-right: 1px solid black;
}

table, th
{
    border: 1px solid black;
}

th
{
    padding: 3px 15px;
}

table
{
    border-collapse: collapse;
}

.Wochenstart
{
    border-top: 1px solid black;
}

 
.modal 
{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    transition: background-color 1.0s ease;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


.modal-content 
{
    background-color: #fefefe;
    position:relative;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50% !important; /* Could be more or less, depending on screen size */
    border-radius: 5px;
     -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

#texazubihinzufuegen {
    text-align: center;
    font-size: 17px;
    padding-bottom: 20px;
    font-weight: bold;
}


.close 
{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: -10px;
}

#absenden {
    background: #6ac601;
    background: -moz-linear-gradient(top, #6ac601 0%, #6ab501 100%);
    background: -webkit-linear-gradient(top, #6ac601 0%,#6ab501 100%);
    background: linear-gradient(to bottom, #6ac601 0%,#6ab501 100%);
    border: 1px solid rgb(7,145,96);
    border-radius: 30px;
    color: #fff;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    padding: 5px 7px;
    position: relative;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgb(7,145,96);
}

#absenden:hover {
    background: #079160;
    background: -moz-linear-gradient(top, #079160 0%, #088660 100%);
    background: -webkit-linear-gradient(top, #079160 0%,#088660 100%);
    background: linear-gradient(to bottom, #079160 0%,#088660 100%);
    text-shadow: 0 -1px 0 rgb(7,104,96);
    
}

.modal-content input {
    width: 70%;
    margin-left: 12%;
}

.modal-content select {
    width: 71%;
    margin-left: 12%;
}

.name {
    width: 15%;
    float: left;
}



.close:hover,
.close:focus 
{
    color: black;
    text-decoration: none;
    cursor: pointer;
}
#texazubihinzufuegen
{
    text-align:center;
}