body
{
    margin: 0px;
    background: #E8E8E8;
    font-family: Verdana;
    font-size: 14px;
    overflow-x: hidden;
}

header
{
    position: absolute;
    top: 0;
    width: 100vw;
    min-width: 1040px;
    height: 100px;
    background: rgb(255,255,255);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(247,247,247,1) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(247,247,247,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(247,247,247,1) 100%);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.6);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.6);
}

#main
{
    padding: 10px;
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
    background: #ffffff;
    border: 1px solid #B2B2B2;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
	min-height: calc(100vh - 225px);
}

.center
{
    text-align: center;
}

footer
{
    background-color: #666;
    color: #fff;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -1px;
    border: 1px solid #555;
    border-top: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#footerContainer
{
    height: 100px;
}

#shadow
{
    width: 92vw;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#logo img {
    width: 90px;
    height: 90px;
    margin-top: 5px;
}

#logo
{
    margin-left: 4vw;
    float: left;
}

#userID
{
    float: right;
    margin-right: 4vw;
    margin-top: 40px;
    text-shadow: 0 1px 0 #fff;
}
#infoText
{
    float:left;
    padding-right: 5px;
}

nav
{
    float: left;
    margin-left: 10px;
}

.menuButton
{
    border-right: 1px solid #999;
	float: left;
    padding: 41px 15px 41px 15px;
}

.menuButton a
{
	text-decoration: none;
	color: #666;
	text-shadow: 0 1px 0 #fff;
}

.menuButton:first-child
{
	border-left: 1px solid #999;
}

.menuButton a:hover 
{
    color: #333;
}

.active a
{
    color: rgb(10,144,93);
}

table,tr,th,td
{
    border: 1px solid black;
    text-align: center;

}


table
{
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

.berufsschule
{
    background-color: deepskyblue;
}

.einsatz
{
    background-color: chartreuse;
}

.urlaub
{
    background-color: darkblue;
}

.schulung
{
    background-color: coral;
}

table
{
    text-align: center;
    border-collapse: collapse;
}