@{
    ViewBag.Title = "Azubi Einzelansicht";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Azubi Einzelansicht</h1>
<table id="einsatztabelle">
    <tr>
        <th>Nummer</th>
        <th>KOE</th>
        <th>Von</th>
        <th>Bis</th>
        <th>Status</th>
    </tr>
    <!--Einsätze laden-->
</table>

<script>
    getEinsaetze(1);
</script>