@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table id="azubitabelle" >
	<tr>
		<th> Name</th>
		<th> Vorname</th>
		<th> Pers. Nr</th>
		<th> Heimat-KOE</th>
		<th> FA</th>
		<th> Beruf</th>
	</tr>
</table>
<script>
    getAzubis(2);
</script>
<button id="AddAzubi">Azubi hinzufügen</button>

<div id="myModal" class="modal">

    <div class="modal-content">
        <span class="close">x</span>
        <p id="texazubihinzufuegen">Azubi hinzufügen</p>
        Vorname: <input type="text" id="Vorname" /><br/>
        Nachname: <input type="text" id="Nachname" /><br/>
        Beruf: 
        <select id="Beruf">
        </select><br/>
        Ausbilder:
        <select  id ="Ausbilder">
        </select> <br/>
        Heimatabteilung:
        <select id="Heimatabteilung">
        </select><br />

        <script>
            getAusbilderNames();
            getAbteilungen();
            getBerufe();
        </script>
        Personal Nummer: <input type="text" id="PersNr" /><br/>
        
        <button id ="absenden" type="submit"> Eingaben absenden</button>
    </div>

</div>
<script>
    // Get the modal
    var modal = document.getElementById('myModal');

    // Get the button that opens the modal
    var btn = document.getElementById("AddAzubi");

    var btn_absenden = document.getElementById("absenden");
    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on the button, open the modal
    btn.onclick = function ()
    {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function ()
    {
        modal.style.display = "none";
    }

    btn_absenden.onclick = function()
    {
        var vorname = document.getElementById("Vorname").value;
        var nachname = document.getElementById("Nachname").value;
        var beruf = document.getElementById("Beruf");
        var ausbilder = document.getElementById("Ausbilder");
        var heimatabteilung = document.getElementById("Heimatabteilung");
        var persNr = document.getElementById("PersNr").value;

        //if(vorname !=null) etc..

        //GetBerufID()
        //GetAusbilderID()
        //GetHeimatabteilungID()

       
        
        var newazubi = {};
        newazubi.Vorname = vorname;
        newazubi.Nachname = nachname;
        newazubi.BerufID = beruf.options[beruf.selectedIndex].value;
        newazubi.AusbilderID = ausbilder.options[ausbilder.selectedIndex].value;
        newazubi.HeimatabteilungID = heimatabteilung.options[heimatabteilung.selectedIndex].value;
        newazubi.PersNr = persNr;
        
        PostAzubi(JSON.stringify(newazubi));

    }
   
</script>