
@{
    ViewBag.Title = "neuen Einsatz erstellen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Neuen Einsatz erstellen</h1>
<form action="#" method="post">
	<p>
		Azubi:
		<select name="azubi" id="AzubiSelect">

		</select>
	</p>
	<p>
		KOE:
		<select name="koe" id="AbteilungSelect">

		</select>
	</p>
	<p>Anfangsdatum <input type="text" name="anfangsdatum" /></p>
	<p>Enddatum <input type="text" name="enddatum" /></p>
</form>

<script>
    getNameAsOption("azubi", "AzubiSelect");
    getAbteilungAsOption("abteilungen", "AbteilungSelect");
</script>